<h1>Adicionar TAREFA</h1>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <div class="input-group">
        <input [(ngModel)]="novaTarefa" placeholder="Adicionar nova tarefa" class="form-control">
        <div class="input-group-append">
          <button (click)="adicionarTarefa()" class="btn btn-primary">Adicionar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Tarefas Pendentes</h2>
      <ul class="list-group">
        <li *ngFor="let tarefa of tarefasPendentes; let i = index" class="list-group-item">
          <div class="form-check">
            <input type="checkbox" [(ngModel)]="tarefa.concluida" class="form-check-input">
            <span [class]="tarefa.concluida ? 'tarefa-concluida' : ''">{{ tarefa.descricao }}</span>
          </div>
          <button (click)="editarTarefa(i, tarefasPendentes)" class="btn btn-warning btn-sm float-right ml-2">Editar</button>
          <button (click)="alternarStatusTarefa(i, tarefasPendentes)" class="btn btn-success btn-sm float-right ml-2">Concluída</button>
          <button (click)="excluirTarefa(i, tarefasPendentes)" class="btn btn-danger btn-sm float-right">Excluir</button>
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>Tarefas Concluídas</h2>
      <ul class="list-group">
        <li *ngFor="let tarefa of tarefasConcluidas; let i = index" class="list-group-item">
          <div class="form-check">
            <input type="checkbox" [(ngModel)]="tarefa.concluida" class="form-check-input">
            <span [class]="tarefa.concluida ? 'tarefa-concluida' : ''">{{ tarefa.descricao }}</span>
          </div>
          <button (click)="editarTarefa(i, tarefasConcluidas)" class="btn btn-warning btn-sm float-right ml-2">Editar</button>
          <button (click)="alternarStatusTarefa(i, tarefasConcluidas)" class="btn btn-primary btn-sm float-right ml-2">Pendente</button>
          <button (click)="excluirTarefa(i, tarefasConcluidas)" class="btn btn-danger btn-sm float-right">Excluir</button>
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>Tarefas a Fazer</h2>
      <ul class="list-group">
        <li *ngFor="let tarefa of tarefasAFazer; let i = index" class="list-group-item">
          <div class="form-check">
            <input type="checkbox" [(ngModel)]="tarefa.concluida" class="form-check-input">
            <span [class]="tarefa.concluida ? 'tarefa-concluida' : ''">{{ tarefa.descricao }}</span>
          </div>
          <button (click)="editarTarefa(i, tarefasAFazer)" class="btn btn-warning btn-sm float-right ml-2">Editar</button>
          <button (click)="alternarStatusTarefa(i, tarefasAFazer)" class="btn btn-success btn-sm float-right ml-2">Concluída</button>
          <button (click)="excluirTarefa(i, tarefasAFazer)" class="btn btn-danger btn-sm float-right">Excluir</button>
        </li>
      </ul>
    </div>
  </div>
</div>

