header {
    background-color: #1a64a1;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .logo img {
    max-width: 200px;
  }
  

  /* opcional para nome da empresa */
    /* .company-name {
    font-size: 24px;
    margin-top: 10px;
  } */
  